*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared Styling  */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.btn-primary{
    background-color: #E02C6D;
    color: white;
    padding: 8px 16px;
    border: 2px solid white;
    border-radius: 20px;
    transition: 0.5s all ease;
}
.btn-primary:hover{
    transform: scale(1.1);
    border: 2px solid aliceblue;
    transition: 0.5s all ease;
}
.center{
    text-align: center;
}

/* Navbar Styling  */
.navbar{
    height: 80px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}
.navbar ul{
    display: flex;
    gap: 40px;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}
.navbar ul li a i{
    font-size: 1.5rem;
}
.navbar-logo{
    font-size: 24px;
    font-weight: bold;
}
/* Banner Styling  */
.banner{
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 140px auto;
    /* border: 2px solid black; */
    padding: 10px;
}
.banner-content{
    max-width: 500px;
    height: auto;
    /* border: 2px solid black; */
    padding: 16px 32px;
}
.banner-title{
    font-size: 42px;
    font-weight: bold;
}
.banner-description{
    margin: 30px 0;
}
.banner-image{
    height: 450px;
    width: 450px;
    background-image: url("Photos/Circle\ design.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Section-Products  */
.products{
    max-width: 1140px;
    margin: 140px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px 32px;
    /* border: 2px solid black; */
}
/* Section Products-collection   */
.products-collection{
    max-width: 1140px;
    height: auto;
    margin: 140px auto;
    /* text-align: center; */
    /* border: 2px solid black; */
}
.box{
    padding: 10px;
    max-width: 340px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background-color: aliceblue;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);
}
.feedback{
    display: flex;
    align-items: center;
    /* justify-content: center */
}
.feedback > i{
    color: rgba(255, 166, 0, 0.664);
}
.box-container{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.product-collection-title{
    font-size: 28px;
    font-weight: 700;
}
.box-title{
    font-size: 28px;
    font-weight: 600;
}
.box-price{
    font-size: 24px;
    font-weight: 400;
}
/* Feature-products  */
.feature-products{
    /* border: 2px solid black; */
    max-width: 1240px;
    height: auto;
    padding: 20px;
    margin: 120px auto 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aliceblue;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.247);
}
.feature-products-content{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.feature-product-title{
    font-size: 35px;
    font-weight: bold;
}
footer{
    max-height: 200px;
    padding: 40px;
    /* border: 2px solid black; */
    background-color: rgb(14, 14, 53);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.footer-content .icons > i{
    min-height: 50px;
    min-width: 50px;
    font-size: 24px;
    margin-right: 10px;
    border: 2px solid transparent;
    padding: 10px;
    border-radius: 50%;
       transition: 0.5s all ease;
}
.footer-content .icons > i:hover{
    background-color: #e02c6e48;
    transform: scale(1.1);
    transition: 0.5s all ease;
}
/* making it responsive  */
@media screen and (max-width: 726px) {
    .banner{
        flex-direction: column-reverse;
    }
    .feature-products{
        flex-direction: column;
    }
    .box-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .products{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       gap: 30px;
    }
    .navbar ul{
        display: none;
    }
}
@media screen and (min-width: 727px) and (max-width: 992px) {
     .banner{
        flex-direction: column-reverse;
    }
     .box-container{
        grid-template-columns: repeat(2, 1fr);
    }
}